
.Logo {
    float: left;
    margin-left: -200px;
    margin-top: -65px;
}




.Nav_group{

    border: 1px solid transparent;
    display: flex;
    margin: 50px;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.Nav_group li {
    margin: 15px;
}

.Nav_group a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid aqua;
    border-radius: 20px;
    
}

.Nav_group a:hover {
    transition: all 1s;
    color: rgb(0, 9, 92);
    font-weight: bolder;
    background-color:rgb(64, 233, 233);
    box-shadow: 0 0 5px rgba(2,31,49,1), 0 0 15px rgba(24,56,75,1),0 0 25px aqua, 
                0 0 100px rgba(0,157,255,1);
}


/*footer*/
*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;

}
.footer{
    
    padding-top: 10px;
    position: absolute;
    margin-top: auto;
    padding: 20px 0;
    
}
.container1{
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: center;
    position: relative;
    background-color:rgb(6, 58, 100); ;
}
.footer-content{
    width: 33.3%;
}
h4{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
p{
    color:white;
}
.footer-content{
    width: 190px;
    margin: 60px;
    padding: 7px;
    padding-top: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding:0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding:7px;
    position: relative;
}
.list li::before{
    content:'';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:100%;
    width: 0;
    height: 2px;
    background: yellow;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;

}
.social-icons{
    text-align: center;
    padding:0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: yellow;
}
.social-icons i:hover{
    color: yellow
}
